{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="xcJPRCI-jQTmLEFcDhKbpM62MoaIXziZt7IVWoIP1Jk" />

        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        {% if paginator.paginator.num_pages > 1 %}
            {% if paginator.has_previous %}
                <link rel="prev" href="?page={{ paginator.previous_page_number }}">
            {% endif %}
            {% if paginator.has_next %}
                <link rel="next" href="?page={{ paginator.next_page_number }}">
            {% endif %}
        {% endif %}

        <link rel="stylesheet" href="{% static 'web/css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/font-icons.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/main.css' %}">

        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">

        {% block json_ld %}
        {% endblock %}
        <script type="text/javascript">
          (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
          ;r.type="text/javascript";r.async=true
          ;r.src="https://cdn.amplitude.com/libs/amplitude-4.1.0-min.gz.js"
          ;r.onload=function(){if(e.amplitude.runQueuedFunctions){
          e.amplitude.runQueuedFunctions()}else{
          console.log("[Amplitude] Error: could not load SDK")}}
          ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
          ;function s(e,t){e.prototype[t]=function(){
          this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
          var o=function(){this._q=[];return this}
          ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
          ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
          ;return this}
          ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
          ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
          ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","logEventWithTimestamp","logEventWithGroups","setSessionId"]
          ;function v(e){function t(t){e[t]=function(){
          e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
          for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
          e=(!e||e.length===0?"$default_instance":e).toLowerCase()
          ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
          ;e.amplitude=n})(window,document);

          amplitude.getInstance().init("bc7591c6ab400f833553c83bac988d93");
        </script>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        {% block content %}
        {% endblock %}

        <script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>
        <script src="{% static 'web/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="{% static 'web/js/vendor/foundation.min.js' %}"></script>
        <script src="{% static 'web/js/plugins.js' %}"></script>
        <script src="{% static 'web/js/vendor/what-input.js' %}"></script>
        <script src="{% static 'web/js/main.js' %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112595490-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-112595490-1');
        </script>

    </body>
</html>
