{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ seo.title }}</title>
        <meta name="description" content="{{ seo.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static 'web/css/foundation.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/font-icons.css' %}">
        <link rel="stylesheet" href="{% static 'web/css/main.css' %}">

        <link rel="stylesheet" href="https://cdn.plyr.io/2.0.18/plyr.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->


        {% block content %}
        {% endblock %}

        <script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>
        <script src="{% static 'web/js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="{% static 'web/js/vendor/foundation.min.js' %}"></script>
        <script src="{% static 'web/js/plugins.js' %}"></script>
        <script src="{% static 'web/js/vendor/what-input.js' %}"></script>
        <script src="{% static 'web/js/main.js' %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112595490-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-112595490-1');
        </script>

    </body>
</html>
