{% extends 'base.html' %}

{% block json_ld %}
<script type="application/ld+json">
[{
  "@context": "http://schema.org",
  "@type": "RadioSeries",
  "name": "{{ episode.podcast.name }} Podcast",
  "description": "{{ episode.podcast.description }}",
  "episode": {
    "@type": "RadioEpisode",
    "publication": [
      {
        "@type": "OnDemandEvent",
        "startDate": "{{ episode.published_datetime | date:'Y-m-d' }}",
        "publishedOn": {
          "@type": "BroadcastService",
          "url": "{{ episode.podcast.website }}"
        },
      }
    ],
  },
},
{
  "@context": "http://schema.org",
  "@type": "AudioObject",
  "contentUrl": "{{ episode.audio }}",
  "description": "{{ episode.title }}",
  "encodingFormat": "mp3",
  "name": "{{ episode.podcast.name }}"
}]
</script>
{% endblock %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <nav aria-label="Nahajaš se tukaj:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Domov</a></li>
                <li>
                    <a href="{% url 'podcast' podcast_slug=episode.podcast.slug %}">
                        {{ episode.podcast.name }}
                    </a>
                </li>
                <li><span class="show-for-sr">Trenutno: </span> {{ episode.title }}</li>
            </ul>
        </nav>

        <hr>

        <h1 class="page__title">
            {{ episode.title }}
        </h1>
        <div class="grid-x grid-margin-x">
            <div class="large-8 cell">
                <p>{{ episode.description }}</p>

                {% if episode.audio %}
                    <audio controls class="player" data-podcast="{{ episode.podcast.name }}" data-episode="{{ episode.title }}">
                        <source src="{{ episode.audio }}" type="audio/mp3">
                    </audio>
                    <br>
                {% endif %}
            </div>
            <div class="large-4 cell">
                <ul>
                    <li><i class="fas fa-calendar-alt"></i> <b>Objavljeno</b>: {{ episode.published_datetime | date:'d.m.Y H:i' }}</li>
                    {% if episode.url or episode.podcast.website %}
                        <li><i class="fas fa-columns"></i> <b>WWW</b>:
                            <ul>
                                {% if episode.url %}
                                    <li>
                                        <a href="{{ episode.url }}" target="_blank">Stran epizode</a>
                                    </li>
                                {% endif %}
                                {% if episode.podcast.website %}
                                    <li>
                                        <a href="{{ episode.podcast.website }}" target="_blank">Domača stran</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    <li><i class="fas fa-users"></i> <b>Avtor</b>: {{ episode.podcast.authors }}</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
