{% extends 'base.html' %}

{% block json_ld %}
<script type="application/ld+json">
[{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://podcasti.si",
    "name": "Slovenski Podcasti"
}]
</script>
{% endblock %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container featured">
        <h4 class="featured__title">Izpostavljeni podcasti</h4>
        {% for podcast in featured_podcasts %}
            <a href="{% url 'podcast' podcast_slug=podcast.slug %}">
                <img src="{{ podcast.image }}" alt="{{ podcast.name }}" class="featured__image">
            </a>
        {% endfor %}
        <a href="{% url 'all-podcasts' %}" class="featured__all">Seznam vseh podcastov</a>
    </div>

    <div class="grid-container">
        <div class="index__header">
            <h4 class="index__title">Najnovejše epizode</h4>
            <div class="index__filters">
                <i class="fas fa-filter subtle-icon" style="margin-right: 0.5em;"></i>
                <a href="{% if paginator.number != 1 %}
                    ?page={{ paginator.number }}
                    {% else %}
                        /
                    {% endif %}">Vsi</a>
                <span class="index__filters__sep subtle-icon">●</span>
                <a href="{% if paginator.number > 1 %}
                    ?page={{ paginator.number }}&filter_by=indie
                    {% else %}
                        ?filter_by=indie
                    {% endif %}">Indie</a>
                <span class="index__filters__sep subtle-icon">●</span>
                <a href="{% if paginator.number > 1 %}
                    ?page={{ paginator.number }}&filter_by=radio
                    {% else %}
                        ?filter_by=radio
                    {% endif %}">Radio</a>
            </div>
        </div>
        <div class="feed">
            {% if latest_episodes %}
                {% for episode in latest_episodes %}
                    {% include 'modules/episode-item.html' %}
                {% endfor %}
            {% else %}
                No episodes.
            {% endif %}
        </div>
    </div>

    {% include 'modules/pagination.html' %}

{% endblock %}
