{% extends 'base.html' %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <nav aria-label="Nahajaš se tukaj:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Domov</a></li>
                <li><span class="show-for-sr">Trenutno: </span> {{ podcast.name }}</li>
            </ul>
        </nav>

        <hr>

        <h1 class="page__title">
            {{ podcast.name }}
        </h1>

        <h4 class="index__title">Najnovejše epizode</h4>
        {% if episodes %}
            {% for episode in episodes %}
                {% include 'modules/episode-item.html' %}
            {% endfor %}
        {% else %}
            No episodes.
        {% endif %}
    </div>

    {% include 'modules/pagination.html' %}

{% endblock %}
