{% extends 'base.html' %}

{% block json_ld %}
<script type="application/ld+json">
[{
  "@context": "http://schema.org",
  "@type": "RadioSeries",
  "name": "{{ podcast.name }} Podcast",
  "description": "{{ podcast.description }}",
  "episode": {
    "@type": "RadioEpisode"
  }
}]
</script>
{% endblock %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <nav aria-label="Nahajaš se tukaj:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Domov</a></li>
                <li><span class="show-for-sr">Trenutno: </span> {{ podcast.name }}</li>
            </ul>
        </nav>

        <hr>

        <div class="grid-x grid-margin-x podcast">
            {% if podcast_image %}
                <div class="shrink cell">
                    <img src="{{ podcast_image }}" alt="{{ podcast.name }}" class="episode__image">
                </div>
            {% endif %}
            <div class="auto cell podcast__content">
                <h1 class="podcast__title">
                    {{ podcast.name }}
                </h1>
            </div>
        </div>

        <p>{{ podcast.description }}</p>
        {% if podcast.website %}
            <p>
                <i class="fas fa-columns"></i> <b>WWW</b>:
                <a href="{{ podcast.website }}" target="_blank">{{ podcast.website }}</a>
            </p>
        {% endif %}

        <br>

        <div class="index__header">
            <h4 class="index__title">Najnovejše epizode</h4>
        </div>

        {% if episodes %}
            {% for episode in episodes %}
                {% include 'modules/episode-item.html' %}
            {% endfor %}
        {% else %}
            No episodes.
        {% endif %}
    </div>

    {% include 'modules/pagination.html' %}

{% endblock %}
