boto3==1.12.23
black
Django
django-environ
djangorestframework==3.11.0 
django-storages==1.9.1
feedparser
flake8
flake8-broken-line
flake8-bugbear
flake8-import-order
factory-boy
freezegun
Faker
isort
lxml
psycopg2-binary==2.8.4
pytz
pytest
pytest-django
requests
responses
Pillow==7.0.0
uwsgi==2.0.18
whitenoise==5.0.1
sentry-sdk
