hr {
    width: 100%;
    margin: 0.5em auto;
    border-bottom: 1px solid #e6e6e6;
}

.header {
    width: 100%;
    background-image: url(../img/matt-botsford-197870.jpg);
    background-size: cover;
    background-position: center center;
    padding: 2em 0;
    position: relative;
    margin-bottom: 2em;
}
.header__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.header__content {
    position: relative;
    z-index: 5;
}
.header__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    color: #FFFFFF;
}
.header__title > a {
    color: #FFFFFF;
}
.header__title > a:hover {
    color: #FFFFFF;
}
.header__subtitle {
    font-size: 1.2em;
    text-align: center;
    color: #FFFFFF;
}


.episode {
    width: 100%;
    margin-bottom: 0.5em;
}
.episode__content {
    margin: 0 !important;
    align-content: space-evenly;
    display: grid;
}
.episode__title {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
}
.episode__podcast {
    font-size: 0.8em;
    margin: 0;
}
.episode__image {
    width: 80px;
    border-radius: 5px;
}
.episode__published {
    font-size: 0.9em;
    align-content: space-evenly;
    display: grid;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .episode__title {
        font-size: 0.9em;
    }
    .episode__image {
        width: 50px;
    }
    .episode__podcast {
        font-size: 0.6em;
        margin: 0.5em 0 0;
    }
    .episode__published {
        font-size: 0.6em;
    }

}


.podcast {
    margin-bottom: 0.7em;
}
.podcast__content {
    align-content: space-evenly;
    display: grid;
}
.podcast__title {
    font-size: 2em;
    font-weight: 500;
    margin: 0;
}


.page {

}
.page__title {
    font-size: 2em;
}


.player {
    width: 100%;
}


.index__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 1.3em;
}
.index__title {
    width: auto;
    display: table;
    border-left: 6px solid #412b40;
    padding-left: 0.5em;
    margin: 0;
    margin-right: 1em;
}
.index__filters {
    font-size: 0.9em;
    margin-left: auto;
    text-align: right;
    width: 190px;
}
.index__filters__sep {
    font-size: 0.5em;
    position: relative;
    bottom: 2px;
    margin: 0 0.5em;
}
@media only screen and (max-width: 420px) {
    .index__filters {
        display: none;
    }
}

.featured {
    text-align: center;
    margin-bottom: 3em;
}
.featured__image {
    width: 65px;
    border-radius: 5px;
    margin: 0.3em;
}
.featured__title {
    border: 0;
    text-align: center;
    margin: 0 auto 0.5em;
    border-bottom: 4px solid #412b40;
    padding: 0;
    color: #412b40;
    font-size: 1.2em;
    font-weight: 600;
    display: table;
}
.featured__all {
    display: block;
    margin-top: 0.5em;
    font-size: 1em;
}

.subtle-icon {
    color: #dcdcdc;
}
.small-icon {
    font-size: 0.5em;
}
