hr {
    width: 100%;
}

.header {
    width: 100%;
    background-image: url(../img/matt-botsford-197870.jpg);
    background-size: cover;
    background-position: center center;
    padding: 2em 0;
    position: relative;
    margin-bottom: 2em;
}
.header__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.header__content {
    position: relative;
    z-index: 5;
}
.header__title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    color: #FFFFFF;
}
.header__title > a {
    color: #FFFFFF;
}
.header__title > a:hover {
    color: #FFFFFF;
}
.header__subtitle {
    font-size: 1.2em;
    text-align: center;
    color: #FFFFFF;
}


.episode {
    width: 100%;
    margin-bottom: 1em;
}
.episode__content {
    align-content: space-evenly;
    display: grid;
}
.episode__title {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}
.episode__podcast {
    font-size: 0.8em;
    margin: 0;
}
.episode__image {
    width: 80px;
    border-radius: 5px;
}
.episode__published {
    font-size: 0.9em;
    align-content: space-evenly;
    display: grid;
    text-align: center;
}


.podcast {
    margin-bottom: 0.7em;
}
.podcast__content {
    align-content: space-evenly;
    display: grid;
}
.podcast__title {
    font-size: 2em;
    font-weight: 500;
    margin: 0;
}


.page {

}
.page__title {
    font-size: 2em;
}


.player {
    width: 100%;
}


.index__title {
    margin-bottom: 1.3em;
    width: auto;
    display: table;
    border-left: 6px solid #412b40;
    padding-left: 0.5em;
}


.featured {
    text-align: center;
    margin-bottom: 3em;
}
.featured__image {
    width: 65px;
    border-radius: 5px;
    margin: 0.3em;
}
.featured__title {
    border: 0;
    text-align: center;
    margin: 0 auto 0.5em;
    border-bottom: 4px solid #412b40;
    padding: 0;
    color: #412b40;
    font-size: 1.2em;
    font-weight: 600;
    display: table;
}
.featured__all {
    display: block;
    margin-top: 0.5em;
    font-size: 1em;
}
