<div class="grid-x grid-margin-x episode">
    {% if episode.image %}
        <div class="shrink cell">
            <a href="{% url 'episode' podcast_slug=episode.podcast_slug episode_slug=episode.slug %}">
                <img src="{{ episode.image }}" alt="{{ episode.podcast_name }}" class="episode__image">
            </a>
        </div>
    {% endif %}
    <div class="auto cell episode__content">
        <h3 class="episode__title">
            <a href="{% url 'episode' podcast_slug=episode.podcast_slug episode_slug=episode.slug %}">
                {{ episode.title }}
            </a>
        </h3>
        <p class="episode__podcast">
            <a href="{% url 'podcast' podcast_slug=episode.podcast_slug %}">
                <i class="fas fa-podcast subtle-icon"></i>
                {{ episode.podcast_name }}
            </a>
            {% if episode.is_radio %}
                <i class="fas fa-building subtle-icon" style="margin-left: 0.7em;"></i>
                <span style="color: #412b40">Radio podcast</span>
            {% endif %}

            {% if episode.podcast_category and episode.category_slug %}
                <a href="{% url 'latest-episodes-in-category' category_slug=episode.category_slug %}">
                    <i class="fas fa-hashtag subtle-icon" style="margin-left: 0.7em;"></i>
                    <span style="color: #412b40">{{ episode.podcast_category }}</span>
                </a>
            {% endif %}
        </p>
    </div>
     <div class="shrink cell episode__published">
        Objavljeno<br/>
        {{ episode.published }}
    </div>
    <div class="shrink cell episode__content hide-for-small-only">
        <a href="{% url 'episode' podcast_slug=episode.podcast_slug episode_slug=episode.slug %}">
            Poglej <i class="fas fa-chevron-right" style="margin-right: 0.5em;"></i>
        </a>
    </div>
</div>

<div class="small-12 cell">
    <hr>
</div>
