{% extends 'base.html' %}

{% block json_ld %}
<script type="application/ld+json">
[{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "https://podcasti.si/vsi-podcasti/",
    "name": "Seznam vseh slovenskih podcastov"
}]
</script>
{% endblock %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <nav aria-label="Nahajaš se tukaj:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Domov</a></li>
                <li><span class="show-for-sr">Trenutno: </span> Vsi podcasti</li>
            </ul>
        </nav>
    </div>

    <div class="grid-container">
        <h4 class="index__title">Vsi podcasti</h4>

        <p>Pogrešaš na seznamu kak podcast? <a class="typeform-share link" href="https://rksn.typeform.com/to/EljGwv" data-mode="popup" style="color:#412B40;text-decoration:underline;" target="_blank">Povej nam</a> in ga bomo dodali.<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script></p>

        <br>

        <div class="grid-x">
            {% if podcasts %}
                {% regroup podcasts by name|first|upper as podcast_list %}
                {% for podcasts in podcast_list %}
                    <div class="small-6 medium-4 large-4 cell">
                        <h4>{{ podcasts.grouper }}</h4>
                        <ul>
                            {% for podcast in podcasts.list %}
                                <li>
                                    <a href="{% url 'podcast' podcast_slug=podcast.slug %}">
                                        {{ podcast.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                    </div>
                {% endfor %}
            {% else %}
                No Podcasts.
            {% endif %}
        </div>
    </div>

{% endblock %}
